<%= render "shared/header" %>
<div class="d-flex justify-content-center mt-3 ">
  <h1 class="border-bottom border-danger text-center font-weight-bold" style="width:400px;">ユーザー新規登録</h1>
</div>
<div class="justify-content-center " style="height:90%;">
  <div style="height:100%; " class="bg-light border border-dark container rounded-lg my-2 py-2 justify-content-center ">
    <%= form_with model: @user, url: user_registration_path, local: true do |f|%>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="d-flex">   
        <div class="mr-5 my-2 " style="width:40%;">
          <%= f.label :姓%> <span class="text-danger">（必須）</span><em></em><br />
          <%= f.text_field :last_name, autofocus: true, placeholder:"山田"%>
        </div>
        <div class="my-2 mr-5"  style="width:40%;">
          <%= f.label :名 %> <span class="text-danger">（必須）</span><em></em><br />
          <%= f.text_field :first_name, placeholder:"太郎"%>
        </div>
      </div>
      <div class="d-flex">        
        <div class="my-2 mr-5" style="width:40%;">
          <%= f.label :会社名 %> <em></em><br />
          <%= f.text_field :company, placeholder:"◯◯株式会社",style:"width:100%;"%>
        </div>
        <div class="my-2 mr-5"  style="width:40%;">
          <%= f.label :電話番号 %> <span class="text-danger">（必須）</span><em></em><br />
          <%= f.text_field :phone_num, placeholder:"09012345678"%>
        </div>
      </div>
      <div class="my-2" >
        <%= f.label :住所 %> <em></em><br />
        <%= f.text_field :address, placeholder:"住所", style:"width:100%;"%>
      </div>
      <div class="my-2" >
        <%= f.label :備考 %> <em></em><br />
        <%= f.text_area :info, placeholder:"", style:"width:100%;"%>
      </div>

      <div class="my-2">
        <%= f.label :メールアドレス %><span class="text-danger">（必須）</span><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"◯◯◯@example.com" ,style:"width:40%;"%>
      </div>

      <div class="my-2">
        <%= f.label :パスワード %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="my-2">
        <%= f.label :パスワード（確認用）%><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions mt-3 d-flex justify-content-center"> 
        <%= f.submit "登録" ,class:"btn btn-primary text-nowrap btn-lg border border-dark"%>
      </div>
    <% end %>
  </div>
</div>
