 <%= link_to '個人情報編集', edit_user_registration_path, class:"mr-3 btn btn-secondary text-nowrap" %>
 <ul>
<li><%= current_user.last_name %></li>
<li><%= current_user.first_name %></li>
<li><%= current_user.last_kana %></li>
<li><%= current_user.first_kana %></li>
<li><%= current_user.company %></li>
<li><%= current_user.address %></li>
<li><%= current_user.phone_num %></li>
<li><%= current_user.info %></li>
</ul>
<%= link_to '取引先追加', "#", class:"mr-3 btn btn-secondary text-nowrap" %>
