<%= render "shared/header" %>
<div class="mx-2 my-2 fs-6">
  <%= link_to 'お客様情報変更', edit_user_client_path(current_user.id,id:@client.id), class:"my-1 mx-3 btn btn-secondary text-nowrap" %>
    <ul>
      <li><%= @client.cli_last_name %></li>
      <li><%= @client.cli_first_name %></li>
    </ul>
  <%= link_to '新規見積追加', new_user_client_project_path(current_user.id,client_id:@client.id), class:"my-1 mx-3 btn btn-secondary text-nowrap" %>
  <% if @projects.blank? %>
    <div　class="">
    見積実績はありません
    </div>
  <%else%>
    <div class="row flex-nowrap overflow-auto mx-2" >
      <% @projects.each do |projects| %>
      
        <div class="mx-2">
          <div class="card" style="width: 20rem; height: 7rem;">
            <div class="card-body">
              <h5 class="">
                <%= projects.pro_name %>
              </h5>
              <div class="d-flex flex-row">
                <div>
                  <div>
                    <%= projects.created_at.strftime('%Y/%m/%d')%>
                  </div>
                  <div>
                    <%= projects.pro_number %>
                    <%= projects.id %>
                  </div>
                </div>
                <div class="pl-4 py-2  d-flex">
                  <%= link_to '詳細表示', user_clients_path(current_user.id, client_id:@client.id, project_id:projects.id), class:"btn btn-primary ", id:"project_#{projects.id}",value: projects.id %>
                  <%= link_to '編集',edit_user_client_project_path(current_user.id, client_id:@client.id, id:projects.id) , class:"btn btn-success ml-2 " %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <%end%>
</div>

<% if @project.blank? %>
  <div　class="mx-3"> 
    見積を選択してください
  </div>
<%else%>
  <span class="d-flex mx-2">
    <div class="text-nowrap ">
    <%= link_to '印刷用', "", class:"my-1 mx-2 btn btn-secondary text-nowrap" %>
    <%= link_to '商品追加',new_user_client_project_item_path(client_id:@client.id, project_id:@project.id), class:"my-1 mx-2 btn btn-secondary text-nowrap" %>
    <%# <%= link_to '商品編集', edit_user_client_project_item_path(current_user.id, client_id:@client.id, project_id:@project.id, id:@item.id), class:"my-1 mx-2 btn btn-secondary text-nowrap" %> 
    </div>
    <div class="d-flex mx-2"> 
      <h3 class="bg-info my-1 mx-4 py-1 text-nowrap" style="height:40px;">
      <%= "件名：#{@project.pro_name}" %>
      </h3>
      <h3 class="bg-info my-1 mx-5 py-1 px-2 text-nowrap" style="height:40px;">
      <% all_price = 0 %>  
      <% @items.each do |item| %>
        <% all_price = all_price + item.item_price %>
      <%end%>
      <%= "合計金額：#{all_price}円" %>
      </h3>
      <h3 class="bg-info my-1 mx-2 py-1 px-2 text-nowrap" style="height:40px;">
      <%= "見積No：#{@project.pro_number}" %>
      </h3>
    </div>
  </span>  
  <% if @project.items.ids.blank? %>
    <div　class="mx-3"> 
      商品を追加してください
    </div>
  <%else%>
    <div class="mx-3">
      <div class="d-flex d-flex justify-content-start">
        <div class="text-nowrap ">
          <% @items.each do |item| %>
            <%= link_to item.item_name, "#", class:" mb-1 text-nowrap rounded-pill border border-dark list-group-item list-group-item-action", style:"width:220px;"%>
          <%end%>
        </div>
        <div class="mx-2 text-nowrap bg-success border border-dark" style="width:100%; height:500px;">
          <%# <%= link_to '商品編集', edit_user_client_project_item_path(current_user.id, client_id:@client.id, project_id:@project.id, id:@item.id), class:"my-1 mx-2 btn btn-secondary text-nowrap" %> %>
          <div>
            日付
          </div>
          <div>
            No.0000xxxx
          </div>
          <div>
            名称
          </div>
          <div>
            備考
          </div>
        </div>
      </div>
    </div>
  <%end%>
<%end%>
