<%= render "shared/header" %>
<div class="overflow-auto">
<div class="d-flex justify-content-center mt-3 ">
  <h1 class="border-bottom border-danger text-center font-weight-bold" style="width:300px;">ログイン</h1>
</div>
<div class="justify-content-center " style="height:300px;">
  <div style="height:100%;" class="bg-light border border-dark rounded-lg container my-2 py-2 d-flex align-items-center justify-content-center ">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="my-2">
        <label class="form-text">メールアドレス</label>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="my-2 ">
      <label class="form-text">パスワード</label>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div class="mt-4 d-flex justify-content-center">
        <%= f.submit "ログイン",class:"btn btn-primary text-nowrap btn-lg border border-dark"%>
      </div>
    <% end %>
  </div>
</div>
</div>
